.homePage {
  min-height: 100vh;
  background: #000;
  color: white;
   background-size: cover;
  background-position: center;
  background-attachment: fixed; /* important */
  background-image: url("./images/Home5.jpg");

  color: white;
}

.heroSection {
     position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: white;
}

.heroSection p {
  font-size: 1.3rem;
  color: rgba(255,255,255,0.8);
}

.heroSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  z-index: 0;
}

.heroSection h1,
.heroSection p {
  position: relative;
  z-index: 1;
}

.playButton{
 width: 10%;
  padding: 16px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(
    90deg,
    #3ea6ff,
    #3b3bd4
  );
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;

}
.infoButton{
  width: 10%;
  padding: 16px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(
    90deg,
    #3ea6ff,
    #3b3bd4
  );
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
}

.heroButtons {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
  column-gap: 20px;
}

.movieSection {
  padding: 20px 40px;
  color: white;
}

.movieRow {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.navbar {
   position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  display: flex;
  justify-content: end;
  align-items: center;

  padding: 20px 50px;

  background: transparent;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks button {
  border: none;
  padding: 10px 20px;
  border-radius: 25px;

  background:linear-gradient(45deg, #5562b6, transparent);
  color: white;
  cursor: pointer;
}

.moviesCard {
  display: flex;
  min-width: 180px;
}



.moviesCard img {
  width: 180px;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}

.movieRow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
   margin-top: 80px;
  padding: 20px 40px;
}