* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/Netflix-Clone/images/Login6.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.subtitle {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin-bottom: 30px;
  font-family: serif;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 12px;
}

.subtitle {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 30px;
  font-size: 15px;
}

.login-card {
  width: 500px;
  padding: 50px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow:
    0 8px 32px rgba(0,0,0,0.25);
}
.login-card h1 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 700;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
  font-style: oblique;
}

input:focus {
  border-color: #60a5fa;
  box-shadow:
    0 0 10px rgba(90,167,255,0.5);
}

.loginButton:hover {
  transform: translateY(-2px);
  box-shadow:0 8px 20px rgba(59,130,246,0.4);
  transition: all 0.3s ease;
}

.subtitle a {
  margin-left: 8px;
  color: #5aa7ff;
  cursor: pointer;
  font-weight: 600;
}

.subtitle a:hover {
  text-decoration: underline;
}

.options a:hover {
  color: white;
}

.remember {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.remember input[type="checkbox"] {
  margin: 0;
}

.login-card input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  font-family: serif;
}

.options a {
  color: #5aa7ff;
  text-decoration: none;
}

.loginButton{
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(90deg, #36a2ff, #3030c3);
  font-size: medium;
  font-family: sans-serif;
  color: white;
  border: none;
  font-weight: 600;
}

.passwordField{
  position: relative;
}

.showEye {
  position: absolute;
  right: 15px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  color: thistle;
}

.fieldContainer{
  position: relative;
}

.errorMessage{
  position: absolute;
  display: block;
  color: #ff6b6b;
  font-size: 14px;
  margin-top: -24px;
  width: 100%;
  font-style: italic;
}
