* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.singupPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Signup3.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.passwordField{
  position: relative;
}

.showEye {
  position: absolute;
  right: 15px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  color: thistle;
}

.singupCard {
  width: 750px;
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  background: rgb(28 38 50 / 6%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow:
    0 8px 32px rgba(0,0,0,0.25);
    transition: transform 0.3s ease;
}

.singupCard h2 {
  color: #93c5fd;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
 font-family: 'Poppins', sans-serif;
  text-shadow: 0 0 15px rgba(255,255,255,0.25);
}

.signupButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(59, 130, 246, 0.4);
   transform: translateY(-3px);
}

.signupButton {
  transition: all 0.3s ease;
}

.singupCard .title {
padding: 10px;
}

.formData input {
  width: 100%;
  padding: 12px;
  margin-bottom: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
  cursor: pointer;
  font-style: oblique;
}

.formData input:focus {
  border-color: #60a5fa;
  box-shadow:
    0 0 10px rgba(96,165,250,0.4);
}
.nameRow {
  display: flex;
  gap: 20px;
}

.nameRow input {
  flex: 1;
}

.loginLink {
  text-align: center;
  margin-top: 20px;
  color: rgba(255,255,255,0.8);
  margin-bottom: 35px;
}

.loginLink a {
  color: #60a5fa;
  cursor: pointer;
  margin-left: 8px;
}

.loginLink a:hover {
  text-decoration: underline;
}

.signupButton {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(
    90deg,
    #3ea6ff,
    #3b3bd4
  );
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
}
.fieldContainer{
  position: relative;
}

.errorMessage{
  position: absolute;
  display: block;
  color: #ff6b6b;
  font-size: 14px;
  margin-top: -24px;
  width: 100%;
  font-style: italic;
}

.errorMessage.leftError {
  text-align: left;
}

.errorMessage.rightError {
  text-align: right;
  right: 142px;
}

.field{
  flex: 1;
  display: flex;
  flex-direction: column;
}